---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Dev Neill";
const description = "Devon's digital home.";
const permalink = Astro.site?.href ?? "";
---

<BaseLayout title={title} description={description} permalink={permalink}>
    <div
        class="flex flex-col min-h-[calc(100vh-3rem)] py-8 sm:py-12 items-center justify-between"
    >
        <div class="flex flex-col gap-12">
            <div class="text-2xl lg:text-3xl leading-relaxed">
                <h1 class="font-black mb-4">I'm Dev.</h1>
                <p>I'm building a software business.</p>
                <p>I'm writing about my learnings as I go.</p>
                <p>
                    I also like to run in the mountains, surf in the ocean and
                    spend time away from the world.
                </p>
            </div>
        </div>
        <div class="w-full mt-auto text-center">
            <span class="text-2xl sm:text-4xl font-black tracking-tight mb-8">
                👇
            </span>
        </div>
    </div>
</BaseLayout>
