<style>
  a {
    font-family: var(--font-family-sans);
    text-transform: uppercase;
    text-decoration: none;
  }

  @media screen and (max-width: 520px) {
    .logo {
      display: none;
    }
  }
</style>

<a href="/">
<p>
  DevNeill
</p>
</a>
