---
import ThemeToggleButton from "./ThemeToggleButton.svelte";
const { current = "" } = Astro.props;
---

<style>
    .theme-toggle-container {
        width: 75px;
    }
</style>

<nav
    class="items-center flex flex-1 sm:gap-2 font-sans justify-end text-sm sm:text-base"
>
    <a
        class:list={[
            "text-center min-w-16 relative block p-1 hover:font-bold transition-all",
            current === "components" ? "font-bold" : "",
        ]}
        href="/components">Components</a
    >
    <a
        class:list={[
            "text-center min-w-16 relative block p-1 hover:font-bold transition-all",
            current === "blog" ? "font-bold" : "",
        ]}
        href="/blog">Blog</a
    >
    <a
        class:list={[
            "text-center min-w-16 relative block p-1 hover:font-bold transition-all",
            current === "dev-build" ? "font-bold" : "",
        ]}
        href="/dev-build">Dev build</a
    >
    <div class="ml-2 sm:ml-3">
        <ThemeToggleButton client:load />
    </div>
</nav>
