---
import ThemeToggleButton from "./ThemeToggleButton.svelte";
const { current = "" } = Astro.props;
---

<style>
    .theme-toggle-container {
        width: 75px;
    }
</style>

<nav class="items-center flex flex-1 gap-2 font-sans justify-end">
    <a
        class:list={[
            "text-center min-w-16 relative block p-1 hover:font-bold",
            current === "blog" ? "font-bold" : "",
        ]}
        href="/blog">Blog</a
    >
    <a
        class:list={[
            "text-center min-w-16 relative block p-1 hover:font-bold",
            current === "dev-build" ? "font-bold" : "",
        ]}
        href="/dev-build">Dev build</a
    >
    <div class="w-20">
        <ThemeToggleButton client:load />
    </div>
</nav>
